.message{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.messageRight{
    display: flex;
    align-items: center;
    padding-left: 940px;
}

.message__info{
    display: flex;
    align-items: center;
}

